@model IEnumerable<KGSHOP.Models.GroupProduct>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Group Products List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Group Product </a>
    </div>
</div>

<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
</head>
<body>

    <table id="customers">
        <tr>
            <th>GroupProduct_ID</th>
            <th>Name</th>
            <th>Content</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductGroup_ID
                </td>
                <td>
                    @item.Name

                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Status
                </td>
                <partial name="_TableButtonPatial" model="item.ProductGroup_ID" />
            </tr>
        }
    </table>

</body>

